.div-1, .div-2 {
    background-color: red;
    /* por defecto display block */
}

.span-1 {
    background-color: aquamarine;
    float: right;
    /* por defecto display inline */
}

.span-2 {
    background-color: aquamarine;
    float: left;
} 

.img {
    width: 100px;
    height: 100px;
    /* por defecto display inline-block*/
} 

.clear-fix {
    float: none;
    clear: both;
} 

.div-2 {
    float: none;
}

.div-3 {
    float: right;
    background-color: blue;
}